body {
    background-image: radial-gradient(circle farthest-corner at 10% 20%, #e6e6e6 0%, #cccccc 5%, #b3b3b3 45%, #999999 60%, #808080 90%);
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    width: 100%;
    height: 1vh;
    box-sizing: border-box;
    overflow: hidden auto;
}

.container {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0 auto;
}

.custom-table {
    width: 80%;
    border-collapse: collapse;
}

.send-message-container {
    margin: 10px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.send-message-container input {
    text-align: center;
    margin: 2px
}

.custom-table th,
.custom-table td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.custom-table th {
    background-color: #f2f2f2;
}

.custom-table tbody tr:hover {
    background-color: #f5f5f5;
}

.custom-input {
    padding: 10px 20px;
    margin: 10px auto;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 14px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.8);
    width: 90%;
    ;
}

.button_conection {
    margin: 0 auto;
}

.custom-input:hover {
    background-color: rgba(0, 0, 0, .95);
}

.custom-input:focus {
    outline: none;
    border-color: #007bff;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
    background-color: rgba(0, 0, 0, .95);
}

.btn_mqtt,
.connect_btn {
    padding: 10px 20px;
    margin: 10px auto;
    background-color: #9ff0ca;
    color: rgba(0, 0, 0, .95);
    border-radius: 4px;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
    transition: .3s;
    border: 1px solid rgba(0, 0, 0, .95);
    box-shadow: 2px 2px 1px 0px rgba(0, 0, 0, 0.25);
    font-weight: bold;
    width: 100%;
}

.btn_mqtt:hover,
.connect_btn:hover {
    background-color: #00b345;
    box-shadow: none;
}

.exit {
    background-color: rgba(230, 90, 90);
    margin: 10px auto;
}

.exit:hover {
    background-color: red;
}

.btn_mqtt:focus {
    outline: none;
    box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.25);
}